@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url("./assets/laptop_ultra_4k_hd_desktop_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
